<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<h1> Question <%= @question.id %> </h1>

<h2>Title : <%= @question.title %> </h2>

<h2>Subject : <%= @question.subject %> </h2>

<br>
<br>

<form method="post" action="/answers/questions/<%=@question.id%>">

 <textarea placeholder="Answer" name="answer[text]"></textarea>
 <input type="submit" value="Post">
</form>
