<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<h1> Question <%= @question.id %> </h1>

<h2>Title : <%= @question.title %> </h2>

<h2>Subject : <%= @question.subject %> </h2>

<br>
<br>

<form method="post" action="/answers/questions/<%=@question.id%>">

 <textarea placeholder="Answer" name="answer[text]"></textarea>
 <input type="submit" value="Post">
</form>


<h1>Answer</h1>
<% if @answers.nil? %>  <!-- If answer is NOTHING  -->
 <p>There is no Answer posted yet!</p>
<% else %>  <!-- If answer got VALUE -->
<% @answers.each do |answer| %>
  <h2>Answer <%= answer.id %> </h2>
  <h3>Answer:  <%= answer.text %> </h3>
<% end %>
<% end %>


